<header id="masthead">
  <div class="inner-wrap">
    <a href="{{ site.url }}" class="site-title">
      <!-- The following forces the logo to be smaller and to the left. for some reason height doesn't work -->
      <img src="{{site.url}}/images/uwa_neuroecology_group.png" align='left' width="404" hspace="0" vspace="0" >
    <span>  </span>
    </a>
    <nav role="navigation" class="menu top-menu">
        {% include navigation.html %}
    </nav>
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->
